#clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.segment0 { left: 4px; top: 1px; width: 12px; height: 0px; }
.segment1 { left: 1px; top: 4px; width: 0px; height: 12px; }
.segment2 { left: 19px; top: 4px; width: 0px; height: 12px; }
.segment3 { left: 4px; top: 19px; width: 12px; height: 0px; }
.segment4 { left: 1px; top: 22px; width: 0px; height: 12px; }
.segment5 { left: 19px; top: 22px; width: 0px; height: 12px; }
.segment6 { left: 4px; top: 37px; width: 12px; height: 0px; }

.led {
    position: absolute;
    border-radius: 1px 1px 1px 1px;
    height : 1px;
    width : 1px;
    background: white;

}

.segment {
    position: absolute;
    border-radius: 1px;
    border: 1px solid white;
    transition: all 0.2s linear; 
}


.clock > div {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 40px;
}

.clock > .colon {
    font-size: 20px;
    height: 30px;
    width: 8px;
    color: white;
    text-align: center;
    transform: scale(1.5);
}

.off {

    transition: all 0.2s linear;
    opacity: 0.2;
}