#navBar {
    background-color:black;
}
#navBar td {
    padding: 40px;
    font-size: large;
    color: white;
}

#navBar td a{
    font-size: large;
    color: white;
    text-decoration: none;
}

#footer {
    background-color:black;
}

#footer td{
    padding: 18px;
    font-size: larger;
    color: white;
}
#footer td img {
    width: 250px;
    height: 175px;
}