img{
    width: 50%;
    height: 250px;
    transition: 0.5s;
    
}
img:hover{
    transform: scale(2);
}

#slogan{
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}