.container{
    align-items: center;
    justify-content: center;
    display: flex;
}
input{
    width: 50vw;
    height: 3vw;
}
textarea{
    width: 50vw;
    height: 25vw;
}
#nomRule{
    display: none;
}
#mailRule{
    display: none;
}
#messageRule{
    display: none;
}
#submitButton{
    display: flex;
}
#jeu{
    display: flex;
}
#win{
    display: none;
}
#loose{
    display: none;
}