/* page */
body {
    /* background: linear-gradient( */
        /* to bottom,
        #6b6f8e 0%,
        #8f84b5 10%,
        #b497c9 30%,
        #d6a9b5 60%,
        #e7c3a1 90%
    ); */
    background: #ebe3f2;
}


/* menu */
#menu {
    width:75%;
    height: 80px;
    background-color: #0e1f5a;
    border-radius: 45px;
    margin: 20px auto;
    margin-top: 25px;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

#menu a{
    color: white;
    text-decoration: none;
}

#menu a:hover:not(#horloge) {
    background: #e96b0b;
    padding: 10px;
    border-radius: 6px;
}

#horloge{
    background: #d1dbff51;
    padding: 10px; 
    margin: 0px;
    border-radius: 25px;

}

#logo {
    /* largeur en fonction de la taille de l'ecran */
    width: clamp(10px, 5vw,60px);
    /* hauteur en fonction de la taille de l'ecran */
    height: clamp(10px, 5vw,60px);
}


/* popup  */
#popupConfirm {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    
}

#popupLoader {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    
}
.popupClass {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 75px;
    background: white;
}

/* Loader rond */
.loader{
    width: 55px;
    height: 55px;
    border: 6px solid white;
    border-radius: 50%;
    border-bottom-color: #e96b0b;
    display: inline-block;
    animation: rotation 1s linear infinite;
}
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Bouton pour le changement vers la page de l'equipe */
#oui{
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    border: none;
    font-size: 15px;
    background: green;
    transition: 0.5s;
}
#oui:hover{
    /* augmentation de la taille du bouton */
    transform: scale(1.05);
}

#non {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    border: none;
    font-size: 15px;
    background: #e91d0b;
    transition: 0.5s;
}

#non:hover {
    transform: scale(1.05);
}


/* Footer */
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer {
    background-color:#0e1f5a;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1.2vw;
    color: white;
    padding: 18px;
}

#footer td div{
    margin-bottom: 5px;

}

#copyright{
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color:#0e1f5a;
    font-size: 1.2vw;
    color: white;
}

/* popup  */
#popupTelephone {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    
}
