body {
    background: linear-gradient(
        to bottom,
        #6b6f8e 0%,
        #8f84b5 10%,
        #b497c9 30%,
        #d6a9b5 60%,
        #e7c3a1 90%
    );
}
#menu{
    width: 80%;
    height: 80px;
    background-color: #0e1f5a;
    border-radius: 45px;
    margin: 40px auto;
    margin-top: 25px;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

#menu a{
    font-size: large;
    color: white;
    text-decoration: none;
}

#footer {
    background-color:black;
}

#footer td{
    padding: 18px;
    font-size: larger;
    color: white;
}
#footer td img {
    width: 250px;
    height: 175px;
}
