body {
    background: linear-gradient(
        to bottom,
        #6b6f8e 0%,
        #8f84b5 10%,
        #b497c9 30%,
        #d6a9b5 60%,
        #e7c3a1 90%
    );
}
#menu{
    width: 80%;
    height: 80px;
    background-color: #0e1f5a;
    border-radius: 45px;
    margin: 40px auto;
    margin-top: 25px;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

#menu a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.container {
    display: flex;            /* Active le modèle de boîte flexible */
    justify-content: space-around; /* Espace entre les éléments */
    margin: 20px;
}
.box {
    width: 200px;            /* Largeur de chaque boîte */
    height: 250px;           /* Hauteur de chaque boîte */
    padding: 10px;
    border: 2px solid gray;
    background-color: lightyellow;
    transition: all 0.2s;     
}
.box:hover{
    height: 300px;
}

#button{
    opacity: 0;
    font-size: medium;
}
.box:hover #button{
    opacity: 1;
}
.box img {
    width: 200px;            
    height: 200px; 
    text-align: center;
}