.history,.vision{
    background-color: white;
    padding: 30px 0;
}

.propos, .mission-item, .vision-content{
    flex: 1;
    background-color: var(--light-color);
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    margin-bottom: 25px;
    font-size: 90%;
}

.propos:hover{
    transform: scale(1.05);
}

.missions {
    background-color: var(--light-color);
    padding: 30px 0;
}

.mission-item{
    background-color: white;
} 

.missions .intro {
    text-align: center;
    margin-bottom: 25px;
    color: var(--text-color);
}

.mission-list{
    list-style: none;
    display: grid;
    /* ajouter description fonction */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.mission-item:hover{
    transform: translateY(-10px);
    background-color: var(--accent-color);
}

.mission-item:hover h3,
.mission-item:hover .mission-preview {
    color: white;
}

.mission-preview {
    color: var(--text-color);
    line-height: 1.6;
} 

